<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Help_About_Activate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,254}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Help_About_Clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,254}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Help_About_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,254}</string>
                <key>textureRect</key>
                <string>{{1029,1},{512,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MultiPlayer_Activate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,252}</string>
                <key>spriteSourceSize</key>
                <string>{510,252}</string>
                <key>textureRect</key>
                <string>{{769,257},{510,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MultiPlayer_Clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,252}</string>
                <key>spriteSourceSize</key>
                <string>{510,252}</string>
                <key>textureRect</key>
                <string>{{1023,257},{510,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MultiPlayer_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,252}</string>
                <key>spriteSourceSize</key>
                <string>{510,252}</string>
                <key>textureRect</key>
                <string>{{1277,257},{510,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Play_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1531,257},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SinglePlayer_Activate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,254}</string>
                <key>spriteSourceSize</key>
                <string>{510,254}</string>
                <key>textureRect</key>
                <string>{{1,257},{510,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SinglePlayer_Clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,254}</string>
                <key>spriteSourceSize</key>
                <string>{510,254}</string>
                <key>textureRect</key>
                <string>{{257,257},{510,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SinglePlayer_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,254}</string>
                <key>spriteSourceSize</key>
                <string>{510,254}</string>
                <key>textureRect</key>
                <string>{{513,257},{510,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1531,379},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buttons.png</string>
            <key>size</key>
            <string>{1652,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d43f26ae8f179018c3fd3034b6bfb6:31f3576f7f59b09551074f311f60874c:49b6939ab344b99a0a11fe0530bc9ec0$</string>
            <key>textureFileName</key>
            <string>Buttons.png</string>
        </dict>
    </dict>
</plist>
