<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goomba_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,519},{254,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goomba_dead_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,84}</string>
                <key>textureRect</key>
                <string>{{1,775},{256,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Koopa_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,258}</string>
                <key>spriteSourceSize</key>
                <string>{256,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Koopa_Run_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,255}</string>
                <key>spriteSourceSize</key>
                <string>{256,255}</string>
                <key>textureRect</key>
                <string>{{1,261},{256,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Koopa_dead_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,243}</string>
                <key>spriteSourceSize</key>
                <string>{256,243}</string>
                <key>textureRect</key>
                <string>{{258,261},{256,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Piranha_close_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{220,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Piranha_open_256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,256}</string>
                <key>spriteSourceSize</key>
                <string>{208,256}</string>
                <key>textureRect</key>
                <string>{{259,519},{208,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy_256.png</string>
            <key>size</key>
            <string>{502,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115e09019e78bcd7a011c587dd8b216e:4fd1f61efd927db869115259aec8e0d9:08dfe293a49b98a15bd5642bb1bc422e$</string>
            <key>textureFileName</key>
            <string>Enemy_256.png</string>
        </dict>
    </dict>
</plist>
